@using TP_Final_Grupo_06.Models;
@model Local
@{
    ViewBag.Title = "Local";
}

<h2>Local</h2>

<div class="card" style="width: 32%;height:5%;margin-top: 3%;margin-left:1%;float: left;">
<a href=@Url.Action("Local","Home",new { @ViewBag.id_local })><img class="card-img-top" src="@ViewBag.Local.urlimagen" alt="Card image cap"></a>
</div>

<div>
    <h1> @ViewBag.Local.nombre_local </h1>

</div>

@ViewBag.id_local
@ViewBag.Local.nombre_local
@ViewBag.Local.descripcion
@ViewBag.Local.piso
@ViewBag.Local.id_rubro
@ViewBag.Local.urlimagen

