@using TP_Final_Grupo_06.Models
@model Local



@foreach (Local unLocal in ViewBag.ListaLocales)
{
<div class="card" style="width: 32%;height:5%;margin-top: 3%;margin-left:1%;float: left;">
<a href=@Url.Action("Local","Home",new {unLocal.id_local })><img class="card-img-top" src="@unLocal.urlimagen" alt="Card image cap"></a>
</div>
}


<!--
<h2>Locales</h2>
    dasd
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id Local</th>
                <th>Nombre</th>
                <th>Piso</th>
                <th>Lugar</th>
            </tr>
        </thead>

        @foreach (Local l in ViewBag.ListaLocales)
        {
            <tbody>
                <tr>
                    <td>@l.id_local</td>
                    <td>@l.nombre_local</td>
                    <td>@l.piso</td>
                    <td>@l.id_rubro</td>
                </tr>
            </tbody>
        }
    </table>
</div>
</body>
</html>
    -->