@using TP_Final_Grupo_06.Models;
@model Local

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:#ffffff">

    <div class="container body-content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="~/Home/Index">Almagro Shopping</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Index">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/MostrarLocales">Locales <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Algo">Algo <span class="sr-only">(current)</span></a>
                    </li>
                    @if (Session["NombreUsuario"] == null)
                    {
                        <li class="nav-item active">
                            <a class="nav-link" href="~/Home/Login">Login <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="~/Home/Registrarse">Registrarse <span class="sr-only">(current)</span></a>
                        </li>
                    }
                    else if (Session["NombreUsuario"].ToString() == "ezebinker" && Session["Contraseña"].ToString() == "binker")
                    {
                        <li class="nav-item active">
                            <a class="nav-link" href="~/Home/AñadirLocal">Añadir Local <span class="sr-only">(current)</span></a>
                        </li>
                    }
                </ul>
                @using (Html.BeginForm("Busqueda", "Home", FormMethod.Post))
                {
                    @ViewBag.resultado;
                    @Html.TextBoxFor(a => a.nombre_local)
                    <input type="submit" value="Ir a local" />
                }
            </div>
        </nav>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
